<h1><em>À propos de</em></h1>
<br>
<p>Ressources principales pour la création de cette appli &#58;</p>
<%= link_to 'Railsgirls', asset_path("http://railspremierspas.humancoders.com/"), :target => "_blank" %><br>
<%= link_to 'Rails tutorial', asset_path("https://www.railstutorial.org/"), :target => "_blank" %><br>
<%= link_to 'Rails Guides', asset_path("http://edgeguides.rubyonrails.org/index.html"), :target => "_blank" %>